.stack {
    height: 90vh;
    margin: 4px;
}

.title {
    text-align: center;
}

.overallWrapper {
    height:80vh;
}

.cardWrapper {
    display: flex;
    background-color: lightyellow;
    height: 54%;
    margin: 2px;
    justify-content: center;
}

.card {
    height: 100%;
    width: 80%
}

.holder {
    display: flex;
    flex-direction: row;
}


